@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');

@font-face {
    font-family: 'bodoni';
    src: url('../../../public/assets/fonts/Bodoni\ Cyrillic.ttf') format('truetype');
}

@font-face {
    font-family: 'Amsterdam';
    src: url('../../../public/assets/fonts/AmsterdamOne-eZ12l.ttf') format('truetype');
}

#SobreMi {
  margin: 0;
  padding: 0;
  width: 100%;
}

.logo-section {
    position: relative;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    height: 20rem; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 4rem;
    padding-top: 3.375rem;
    background-image: url('../../../public/assets/img/fondo-logo.png'); 
    background-size: cover; 
    background-position: center -38%; 
    background-repeat: no-repeat;  
  }

  .logo-container {
    position: relative;
    z-index: 1;
  }
  
  .initials {
    font-family: 'bodoni';
    font-size: 6rem;
    color: #912873;
    z-index: 1;
    position: relative;
    text-align: center;
  }
  
  .nombre-logo {
    font-family: 'Amsterdam';
    font-size: clamp(2rem, 2vw, 3rem);
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    white-space: nowrap;
    pointer-events: none;
  }

  .sobre-mi-wrapper {
    display: flex;
    align-items: center; 
    gap: 3.125rem;
    padding: 1.875rem 0rem;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content:center;
    text-align: center;
    background-color:#e9e8e6;
    background-size: cover;
    position: relative;
    overflow: hidden;
    box-shadow: 0 .3125rem .625rem rgba(122, 122, 122, 0.6);
    margin-left: calc(-50vw + 50%);
    width: 100vw;
    z-index: 2;
  }
  
  .foto-perfil img {
    width: 18.75rem; 
    height: 18.75rem;
    border-radius: 50%;
    object-fit: cover;
    border: .25rem solid #ccc;
  }
  
  .texto-presentacion {
    max-width: 37.5rem;  
  }
  
  .texto-presentacion p {
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
    font-family: 'Lora', serif;
  }
  
  .texto-presentacion a.btn {
    margin-top: 1rem;
  }
  
  .texto-presentacion h3 {
    font-size: 1.8rem;
    margin-top: 2rem; 
    margin-bottom: 1rem;
    color: #868486;
    font-family: 'Lora', serif;
  }

  .texto-presentacion a.btn {
    margin-top: 1rem;
    background-color: #b44995; 
    border-color: #b44995;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .texto-presentacion a.btn:hover {
    background-color: #912873;
    border-color: #912873;
  }
  
  .texto-presentacion h4 {
    font-size: 1.1rem;
    font-weight: 500;
    color: #868486;
    font-family: 'Lora', serif;
  }
.texto-presentacion h4 a i {
    font-size: 1.5rem;
    color: #b44995;
    transition: color 0.3s ease;
    margin: .625rem;
  }
  
  .texto-presentacion h4 a i:hover {
    color: #912873;
  }
  
  @media (max-width: 991px) {
    .logo-section {
      height: 15.625rem;
      padding-top: 2rem;
      padding-right: 2rem;
      background-position: center center; 
    }
  
    .initials {
      font-size: 3.5rem;
    }
    
    .nombre-logo {
      font-size: clamp(1.5rem, 2vw, 2.2rem);
      top: 55%; 
      transform: translate(-50%, -50%);
    }

    .logo-container{
      background-color: #b449966b;
      padding: 0rem 3.125rem;
      border-radius: .3125rem;
      width: fit-content; 
      margin-left: 1rem;  
      display: block;
      margin-top: 2rem; 
    }

    .foto-perfil img {
      width: 12.5rem; 
      height: 12.5rem;
      border-radius: 50%;
      object-fit: cover;
      border: .25rem solid #ccc;
    }

    .sobre-mi-wrapper {
      flex-direction: column; 
      gap: 0rem; 
      text-align: center;
      padding: 1rem;
    }
    
    .texto-presentacion {
      margin-top: 0; 
      padding: 0 1rem;
    }
    
  }