@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');

.diseño-grafico {
  background: linear-gradient(to bottom, 
    rgba(233, 232, 230, 0) 0%, 
    rgb(233, 232, 230) 10%, 
    rgb(233, 232, 230) 90%,
    rgb(233, 232, 230) 80%,  
    rgb(233, 232, 230) 10%,  
    rgba(233, 232, 230, 0) 100%);
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  padding: 0;
}



.card {
  max-width: 24rem;
  width: 100%;
  background-color: #fff;
  border-radius: .75rem;
  overflow: hidden;
  box-shadow: 0 .3125rem .9375rem rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  margin-bottom: 0.5rem;
}

.card img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

.card-texto-diseño {
  font-family: 'Lora', serif;
  background-color: #fff;
  padding: 1rem;
}

.card-texto-diseño p {
  color: #666;
  margin-top: 0;
  font-size: .875rem;
  line-height: 1.5;
  
}

.card-texto-diseño h5 {
    font-weight: bold;
    color: #912873;
    font-size: 1.125rem;
    position: relative;
    margin-top: 1rem; 
    margin-bottom: 0.5rem;
}
