html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Evita scroll horizontal si algo se desborda */
}

.App {
 
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #333;
  width: 100%;
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}

