/* Estilos para los botones */
.btn-primary {
    background-color: #b44995; /* Rosa suave, igual al botón de descarga del CV */
    border-color: #b44995;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
    margin-top: 1rem; /* Espacio entre el texto y el botón */
  }
  
  .btn-primary:hover {
    background-color: #912873; /* Rosa más oscuro */
    border-color: #912873;
  }
  
  .DesarrolloWeb h3 {
    font-family: 'Lora', serif;
    font-size: 2rem;
    color: #b44995;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 1rem 0;
    text-align: center;
  }